@using Admin.DomainTranferObjects.DTO
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@model ChangePasswordViewModel

<div class="modal-header" style="border-bottom: 1px solid #ebedf2; background-color: rgb(66,139,202);">
    <h4 class="text-center" style="color:white;width:100%;padding-top:5px;">
            <spam>Đổi mật khẩu</spam>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <input type="hidden" id="tenantId" value="@Model.TenantId" />
    <input type="hidden" id="userId" value="@Model.UserId" />
    <div class="row col-md-12 mt-3">
        <div class="col-4">
            <label>Mật khẩu mới<span style="color: red;"> *</span></label>
        </div>
        <div class="col-8">
            <input type="password" class="form-control" id="password" maxlength="20" autocomplete="new-password"/>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-4">
            <label>Nhập lại mật khẩu<span style="color: red;"> *</span></label>
        </div>
        <div class="col-8">
            <input type="password" class="form-control" id="changepassword" maxlength="20" autocomplete="new-password"/>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
